<div class="containter mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @pet do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: ["Dogs", "Cats", "Fish", "Reptiles", "Others"]  %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.submit "Submit pet", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
