<div class="container mt-5">
  <div class="col d-flex justify-content-center mt-5">
    <div class="card mt-5 text-align-left" style="width: 20rem;">
      <%= cl_image_tag @pet.photo.key, class: 'card-img-top', crop: :fill, alt: @pet.name %>
        <div class="card-body" style = "text-align: center;">
          <h5 class="card-title"><%= @pet.name%></h5>
          <p class="card-text"> Location: <%=@pet.location %></p>
          <p class="card-text"> Description: <%=@pet.description %></p>
          <p class="card-text"> Category: <%=@pet.category%></p>
          <p class="card-text"> Price: $<%=number_with_precision(@pet.price, precision: 2) %>/hr</p>
          <% if @pet.user == current_user %>
            <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-outline-info" %>

            <%= link_to "Delete",
                  pet_path(@pet),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn btn-outline-info" %>
          <% end %>
          <%= link_to "Book now", new_pet_booking_path(@pet), class: "btn btn-outline-info" %>
        </div>
    </div>
  </div>
</div>
