<div class="mt-5 text-align:entre">
<h1 >Welcome to your profile - <%=current_user.first_name%></h1>
</div>

<h1>Your pets</h1>
<div class="container mt-3">
  <div class="d-flex justify-content-evenly">
    <% current_user.pets.each do |pet| %>

    <div class="card" style="width: 18rem;">
      <a href="/pets/<%= pet.id %>">
      <img src="https://juniperpets.com/wp-content/uploads/2021/07/why-your-blue-heeler-follows-you-everywhere.jpg" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title"><%= pet.name %></h5>
        <h5 class="card-title">$<%= number_with_precision(pet.price, precision: 2) %>/hr</h5>
        </div>
        <p class="card-text"><%= pet.location %></p>
        <a href="#" class="btn btn-primary">Book now</a>
      </div>
    </div>
    <% end %>
  </div>
</div>

 <%= link_to "Search for a pet", pets_path, class: "btn btn-success" %>
 <%= link_to "Add a new pet", new_pet_path, class: "btn btn-success" %>

<h1>View your booking</h1>
<%# <div class="container mt-3">
   <div class="d-flex justify-content-evenly">
     <% current_user.booking.each do |booking| %>
    <%# </div>
  </div>
</div> %>
